$colour-primary-0: #27556C;	// Main Primary colour */
$colour-primary-1: #A3B8C2;
$colour-primary-2: #577D90;
$colour-primary-3: #093347;
$colour-primary-4: #011823;

$colour-secondary-1-0: #373276;	// Main Secondary colour (1) */
$colour-secondary-1-1: #B1AFCD;
$colour-secondary-1-2: #69659E;
$colour-secondary-1-3: #15114E;
$colour-secondary-1-4: #050326;

$colour-secondary-2-0: #2C8437;	// Main Secondary colour (2) */
$colour-secondary-2-1: #B5DAB9;
$colour-secondary-2-2: #66B070;
$colour-secondary-2-3: #075711;
$colour-secondary-2-4: #002B05;